.haze {
  position: absolute;
  left: 20px;
  /* Ajusta la posición según necesites */
  width: 100px;
  /* Ajusta el ancho */
  height: 50px;
  /* Ajusta la altura */
  overflow: hidden;
}

.haze-effect {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: puff 1s infinite;
}

.haze-effect:nth-child(1) {
  left: 0;
  animation-delay: 0s;
}

.haze-effect:nth-child(2) {
  left: 20px;
  animation-delay: 0.2s;
}

.haze-effect:nth-child(3) {
  left: 40px;
  animation-delay: 0.4s;
}

@keyframes puff {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}